doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    meta(http-equiv="refresh", content=`3; url=${url}`)
    title= title
    style.
      body, html {
        margin: 0;
        padding: 0;
        font-family: sans-serif;
        width: 100%;
        height: 100%;
        overflow: hidden;

        display: flex;
        flex-direction: column;
      }
      #root {
        flex-basis: 100%;
        background: url(/bg.png) repeat;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
      }
    script.
      setTimeout(function () {
        window.location.replace("#{url}")
      }, 3e3)
  body
    #root
      img(src="/spin.gif", alt="Redirecting...")
      a(href=`${url}`)!= placeholder
